

.web-site {

   
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 20px;
    color: white;
    text-align: center;
}

/* ----------------- Nav section------------------------------ */
.nav-head{
   padding: 0 15%;
   color: white;
   padding: 10px 0;
}

.nav-section {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
}
.logo a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li{
    margin-right: 20px;
    display: list-item;
}
.nav-links li a{
    color: azure;
    text-decoration: none;
}

#menu{
    display: none;
    cursor: pointer;
   
}

.Getbuttion-1{   
    display: block;
}

.Getbuttion-1 button {
    background-color: rgb(0, 152, 234);
    border: 0;
    border-radius: 5px;
    padding: 0px 40px;
    font-weight: bold;
    color: white;
    font-size: 12px;
}



@media screen and (max-width: 768px) {
    .nav-links{
        display: none;
        flex-direction: column;
        text-align: center;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        background-color: #cc1212;
    }

    #menu{
        display: block;
        color: #fff;
    }

    .Getbuttion-1{
        display: none;
    }



}

/* ------------Nave-----------------section------end-------------------------------- */


.headsection{
    text-align: center;
}
.bestHospital-appoinment-container{
    /* display: flex; */
    justify-content: center;
    justify-content: space-evenly;
    
    
}
.bestHospital{
    /* padding: 80px 0; */
    /* width: 27%; */
}

.bestHospital h1{
    color: white;
    font-size: 65px;
}

.bestHospital p{
    color: white;
    font-size: 20px;
}

.Getbuttion-2 {
    background-color: rgb(0, 152, 234);
    border: 2px solid rgb(0, 152, 234);
    border-radius: 30px;
    padding: 16px 25px;
    font-weight: bold;
    color: white;
    font-size: 15px;
}

.learnmore {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 30px;
    padding: 16px 40px;
    font-weight: bold;
    color: white;
    font-size: 15px;
}

.appoinmentsectionbox {  
    padding: 80px 0;
    
}

.Appoinment-container{
    padding: 10px 26px;
    background-color: white;
    border-radius: 10px;
}

.book-appointment-button {
    background-color: rgb(0, 152, 234);
    border: 0;
    border-radius: 5px;
    padding: 8% 23%;
    font-weight: bold;
    color: white;
    font-size: 15px;
    width: 100%;

}
.book-appointment {
    text-align: center;
}

.information-box {
    display: grid;
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
    padding: 5% 5%;
    border: 2px solid rgb(184, 180, 180);
    width: 80%;
}

.time-sloat {
    background-color: rgb(242, 242, 242);
    padding: 6% 0%;
    border-radius: 5px;
    border: 2px solid rgb(184, 180, 180);
}

.Leading-Medicine-section {
   margin: 3% 0;
}

.leading{
    text-align: center;
    
    
}
.leading h1{
    font-size: 45px;
    color: black;
}
.leading p{          
    color: gray;
}

.speciality-boxs{
    padding: 5% 50%;
    justify-content: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap: 40px;

}

.speciality-container {
border: 2px solid rgb(184, 225, 248);
background-color: rgb(255, 255, 255);
border-radius: 20px;
width: max-content;
}

.speciality-section{
    display:flex;
    
    /* justify-content: space-evenly;  */
    background-color: rgb(134, 192, 225);
    border-radius: 10px;
    padding: 10px;
    max-height: 100px;
   
}
.speciality-section h3{
    font-size: 15px;
    color: white;
    padding: 10px;
    
}

i{
    
    background-color: white;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 20px;
    
}
#group-color{
    color: rgb(1, 192, 255);
}


.care-learn-buttion{
    font-size: 15px;
    display: flex;
    background-color: transparent;
    border: 0;
    color: rgb(9, 132, 248);
}
.feactusr{
    padding-left: 5px;
}


.rating-section{
    background-color: rgb(250, 248, 248);
   
    padding: 15px;
    margin: 2% 0;
    
}

.rate-boxs{
    display: flex;
    padding: 5% 16%;
    justify-content: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap: 40px;
    


}


.rating{
    padding: 10px;
    border: 2px solid rgb(195, 197, 198);
    width: 100%;
    background-color: white;
}

.stars{
    color: rgb(255, 183, 0);
    display: flex;
}

.material-symbols-outlined{
    color: orange;
}

.users{
    border-radius: 50px;
    width: 50px;
}


.faq-topics{
    padding: 5% 16%;
    justify-content: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,2fr);
    column-gap: 50px;
    row-gap: 50px;

}



.faq-qures{
    display: flex;
}

#arrow_forward-color{
    color: rgb(0, 153, 255);
}



.pricing-section{
    background-color: rgb(241, 241, 241);
}

.pricing-box{
    padding: 5% 16%;
    margin: auto;
    justify-content: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 5px;
    

}

/* .ram{ */
    /* max-height: 30%; */
/* } */

.pricing-header{
    background-color: white;
   
    
}

.hole-row-division{
    grid-template-rows: repeat(3,1fr);
}

.free-center{
    text-align: center;
    font-size: 25px;
    
}
.p-text-in-pricing-section{
    font-size: 16px;
    font-weight: bold;
    
    padding: 0 40px;
}
.dollar-section{          
    display: flex;
    justify-content: center;
    color: rgb(2, 148, 252);
    
    
}

.per-month{
    display: flex; 
    display: grid;
    grid-template-columns: repeat(2,1fr);
} 

.division-1{
    text-align: center;   
    font-size: 40px;
    font-weight: bold;
}

.per-month-xyz{
}
.per-month-dollar-bold{
    font-size: 18px;
    font-weight: bold;
}


.done-div{
    display: flex;
    padding: 10px;
    align-items: center;

}

.done-span{
    display: flex;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: rgb(10, 196, 62);
    text-align: center;
    padding: 8px;
}

.product-bok p{
    padding: 10px 10px;
}

.product-bok-not-free{
    display: flex;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: rgb(122, 122, 122);
    text-align: center;
    padding: 8px;
}

.product-bok-free p{
    padding: 10px 10px;
}

#done-box{
    color: white;
    font-size: 30px;
    text-align: center;

}

#not-free{
    color: white;
    font-size: 30px;
    text-align: center;
}

.division-row{
    margin: 30px;
    text-align: center;
}

.try-for-free-button{
    border: 0;
    border-radius: 4px;
    background-color: rgb(70, 172, 236);
    font-size: 15px;
    padding: 15px 91px;


}

.pricing-header:hover{
    background-color: rgb(38, 39, 58);
    color: white;
}
   
.touch{
    display: flex;
    background-color: rgb(38, 39, 58);
    justify-content: space-evenly;
    padding: 50px 0;
   
}


.get-in-touch{
color: white;


}

.get{
font-size: 35px;
}

.email-subs{
padding: 50px;
display: grid;
display: flex;
grid-template-columns: repeat(50px,1fr);
/* justify-content: center; */
}

.emailtype{
font-size: 15px;
border: 0px;
padding: 10px 100px 14px 14px;
border-top-left-radius:3px;
border-bottom-left-radius: 3px;


}
.subscribe{
background-color: rgb(77, 193, 255);
padding: 14px 27px;
font-size: 17px;
border: 0px;
border-top-right-radius:3px;
border-bottom-right-radius: 3px;
cursor: pointer;
}
.subscribe:active{
padding: 20px 35px;
font-size: 22px;
}


.outer-body-of-social-info-bok{
padding: 60px 150px;
}

.images{
display: flex;
width: 50px; 
height: 50px;
}

.social-media{
padding: 10px;
}

.information-features h1{
font-weight: 70px;
font-size: 28px;
}


.information-features ul{
list-style-type: none;
padding: 0;

}

.information-features ul li{
padding: 10px 0px;
}

.information-features ul a{
color: black;
text-decoration: none;
font-size: 15px;
}

.division-of-social-info-box{
display: flex;
justify-content: space-evenly;
}

            